/* Define the font first */
@font-face {
  font-family: 'NorseBold';
  src: url('Norsebold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

/* Apply it to your H1 */
h1 {
  font-family: 'NorseBold', sans-serif;
  font-size: 9rem;
}


body{
    display: flex;
    height: 100vh;
    
}
.image {
  position: relative; /* This creates a "box" for the logo to sit in */
  width: 40%;
  height: 100vh;
  border: solid 4px black;
}

.background {
  
  object-fit: cover; /* Ensures the image fills the space without stretching */
}

.logo1 {
  
  position: absolute;
  top: 50%;
  left: 50%;     /* Adjust size as needed */
  z-index: 10;
  align-items: center;  
  display: flex;      /* Ensures it stays on top of the background */
  transform: translate(-50%, -50%);
  width:100%;
  background-color: rgba(128, 128, 128, 0.5)
  
}



.text{
    height:40%;
    align-items: center;
    
    font-size: 30px;
    font-weight: 300;
    padding:12px 0px 5px 5px 5px ;
    margin-left: 25px;
    margin-right: 25px;
    margin-top:90px;
}

.form{
 margin-left: 25px;
}
.form2{
    padding:20px;
    height: 40%;
    display: flex;
    flex-wrap: wrap;

}

input{
    width:40%;
}
legend{
    width: 80%;
    font-size: 20px;
}

.form2 > div {
    display:flex;
    flex-direction: column; /* Stacks label on top of input */
  flex: 0 0 45%;


}
    
.submit{
    margin:75px 200px 150px 25px;
}
