
@font-face {
  font-family: 'MyCustomFont'; /* Give it any name you want */
  src: url('Norsebold.otf') format('otf');
      
  font-weight: normal;
  font-style: normal;
}

h1{
    font-family: MyCustomFont;
}